h2 {
  font-size: 80px;
  font-family: "Raleway";
  font-weight: bold;
}
h3 {
  font-size: 56px;
  font-family: "Economica";
  font-weight: bold;
}

.htoText {
  justify-content: center;
  align-items: center;
  color: #9f0908;
}

.howToOrder {
  display: flex;
  justify-content: center;
  flex-direction: column;

  > img {
    width: 8rem;
  }
}
