<section class="centerContent">
    <div class="locationText">
        <h2>Find us at</h2>
        <p><img src="./../../assets/4_section_find_us_at/PNG/map_marker.png" alt="map_marker">Kapuzinerstraße 31,
            München,
            80337</p>
    </div>
</section>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d27628.659152812164!2d11.527414675343627!3d48.12516083090704!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ddf76491f7e83%3A0xd9731116d56bf59c!2sSakura%20Ramen!5e0!3m2!1sde!2sde!4v1722436660040!5m2!1sde!2sde"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>