footer {
  padding: 2.5rem;
  background-color: #0a141e;
  height: 9rem;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1440px;
    width: 100%;
    > img {
      height: 2.75rem;
    }
  }

  .imprint {
    text-decoration: none;
    font-size: 2.625rem;
    color: white;
  }
}
