<footer>
    <img src="./../../../../assets/5_section_footer/PNG/sakura_ramen_logo_and_text.png"
        alt="sakura_ramen_logo_and_text">
    <a class="imprint" href="imprint">Imprint</a>
    <div class="socials">
        <img src="./../../../../assets/5_section_footer/SVG/tripadvisor_logo.svg" alt="">
        <img src="./../../../../assets/5_section_footer/SVG/facebook_logo.svg" alt="">
        <img src="./../../../../assets/5_section_footer/SVG/instagram_logo.svg" alt="">
    </div>
</footer>