section {
  font-size: 1.125rem;

  svg {
    margin-block: 1rem;
    margin-inline: 1.25rem;
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
    margin-inline: 1.25rem;
  }
  .header,
  .address,
  .representedBy,
  .contact {
    margin-block: 1rem;
    margin-inline: 2.5rem;
  }
  h3 {
    font-size: 1.875rem;
    margin-block: 1rem;
  }
  h2 {
    font-size: 1rem;
    margin-block: 1rem;
  }
}
