<section>
    <h2>our menu</h2>
    <div class="centerContent">
        <div class="firstDish">
            <img src="./assets/3_section_our_menu/Png/R1.png" alt="">
            <table>
                <th>Tonkotsu Ramen</th>
                <tr>
                    <td>Chicken</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td>Beef</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>Shrimp</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
        <div class="secondDish">
            <img src="./assets/3_section_our_menu/Png/R2.png" alt="">
            <table>
                <th>Spicy Miso Ramen</th>
                <tr>
                    <td>Chicken</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td>Beef</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>Shrimp</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
        <div class="thirdDish">
            <img src="./assets/3_section_our_menu/Png/R3.png" alt="">
            <table>
                <th>Shio Ramen</th>
                <tr>
                    <td>Chicken</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td>Beef</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>Shrimp</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>
</section>